<div class="find_book">
    <h2>Find Book</h2>
<form id="find_form" class="add_form">
    <div class="form-group">
      <label for="name">Book Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Book Name..."
        required
      />
    </div>
    <div class="form-group">
      <label for="author">Author Name</label>
      <input class="form-control" id="author" name="author" type="text" placeholder="Author name..." required/>
    </div>
  <button type="button" id="find_btn" class="btn btn-primary" >Find Book</button>
</form>
</div>